.wrap { /*¤÷¤¸¯À*/
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;

}

.left {
    position: relative;
    top: 20pt;
    left: 10pt;
    float: left;
    background: black;
    color: white;
    width: 30%;
    height: 200px;
    z-index: 1;
}

.right {
    position: relative;
    top: 30pt;
    float: left;
    left: 150pt;
    background: black;
    color: white;
    width: 30%;
    height: 200px;
    z-index: 1;
}
